.background-color {
  background-color: #ececec;
  min-height: 100vh;
}

.form-alignment {
  display: flex;
}

form {
  border: 1px solid #c4c2c2;
  background-color: #ffffff;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  margin: auto;
  margin-top: 3rem;
}