<div class="header">
  <h1 class="remove-bottom-margin">
    <span *ngIf="formEmpty">Welcome</span>

    <span *ngIf="formReview">Review</span>

    <span *ngIf="formSuccess">Success</span>

  </h1>

  <p *ngIf="formEmpty">Please fill out the form below to see submission and errors.</p>

  <p *ngIf="formReview">Please review the form below for any errors.</p>
</div>

<div class="background-color">
  <div class="form-alignment">
    <form 
      [formGroup]="submitForm" 
      (ngSubmit)="submit()" 
      class="card"
    >
      <div class="form-padding">
        <div class="one-col-grid">
          <div *ngIf="error" class="error-block">
            <div class="icon"></div>
  
            <div>
              <h2>Missing Content</h2>
  
            <p>Please fill out the required fields to continue.</p>
            </div>
          </div>
        </div>

        <div class="two-col-grid" *ngIf="!formSuccess">
          <div class="one-col-grid">
            <label 
              for="fname"
              [ngClass]="{
                'error': (submitForm.get('fname').errors?.required && 
                submitForm.get('fname').touched) || 
                submitForm.get('fname').invalid && error
              }"
              *ngIf="!formSuccess"
            >
              First Name<span class="error">*</span>
            </label>

            <input 
              type="text" 
              id="fname" 
              formControlName="fname"
              [ngClass]="{
                'error-border': (submitForm.get('fname').errors?.required && 
                submitForm.get('fname').touched) || 
                submitForm.get('fname').invalid && error
              }"
              required
              *ngIf="formEmpty"
            >

            <div 
              class="sub-text xs-margin-top" 
              *ngIf="
                formEmpty &&
                (submitForm.get('fname').errors?.required && 
                submitForm.get('fname').touched) || 
                submitForm.get('fname').invalid && error
              "
            >
              Please enter first name to continue.
            </div>

            <p [innerHTML]="firstName" *ngIf="formReview"></p>
          </div>
  
          <div class="one-col-grid">
            <label 
              for="lname"
              [ngClass]="{
                'error': (submitForm.get('lname').hasError('required') && 
                submitForm.get('lname').touched) || 
                submitForm.get('lname').invalid && error
              }"
              *ngIf="!formSuccess"
            >
              Last Name<span class="error">*</span>
            </label>

            <input 
              type="text" 
              id="lname" 
              formControlName="lname"
              [ngClass]="{
                'error-border': (submitForm.get('lname').hasError('required') && 
                submitForm.get('lname').touched) || 
                submitForm.get('lname').invalid && error
              }"
              required
              *ngIf="formEmpty"
            >

            <div 
              class="sub-text xs-margin-top" 
              *ngIf="
                formEmpty &&
                (submitForm.get('lname').hasError('required') && 
                submitForm.get('lname').touched) || 
                submitForm.get('lname').invalid && error
              "
            >
              Please enter last name to continue.
            </div>

            <p [innerHTML]="lastName" *ngIf="formReview"></p>
          </div>
  
          <div class="one-col-grid">
            <label for="pnumber" *ngIf="!formSuccess">Phone Number</label>

            <input 
              type="tel"
              id="pnumber" 
              formControlName="pnumber"
              maxLength="14"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
              (keyup)="getValue()"
              *ngIf="formEmpty"
            >

            <p [innerHTML]="number" *ngIf="formReview"></p>
          </div>
  
          <div class="one-col-grid">
            <label 
              for="email"
              [ngClass]="{
                'error': ((submitForm.get('email').hasError('required') || submitForm.get('email').hasError('email')) && 
                submitForm.get('email').touched) || 
                submitForm.get('email').invalid && error
              }"
              *ngIf="!formSuccess"
            >
              Email<span class="error">*</span>
            </label>

            <input 
              type="email" 
              id="email" 
              formControlName="email"
              [ngClass]="{
                'error-border': ((submitForm.get('email').hasError('required') || submitForm.get('email').hasError('email')) && 
                submitForm.get('email').touched) || 
                submitForm.get('email').invalid && error
              }"
              required
              *ngIf="formEmpty"
            >

            <div 
              class="sub-text xs-margin-top" 
              *ngIf="
                formEmpty &&
                (submitForm.get('email').hasError('required') && 
                submitForm.get('email').touched) || 
                submitForm.get('email').invalid && error && submitForm.get('email').hasError('required')
              "
            >
              Please enter email to continue.
            </div>

            <div 
              class="sub-text xs-margin-top" 
              *ngIf="
                formEmpty &&
                (submitForm.get('email').hasError('email') && 
                submitForm.get('email').touched) || 
                submitForm.get('email').invalid && error && submitForm.get('email').hasError('email')
              "
            >
              Please enter valid email to continue.
            </div>

            <p [innerHTML]="email" *ngIf="formReview"></p>
          </div>
        </div>
        
        <div class="md-margin-top one-col-grid" *ngIf="!formSuccess">
          <label 
            for="descript"
            [ngClass]="{
              'error': (submitForm.get('descript').hasError('required') && 
              submitForm.get('descript').touched) || submitForm.get('descript').invalid && error
            }"
            *ngIf="!formSuccess"
          >
            Brief Description<span class="error">*</span>
          </label>
          
          <textarea 
            type="text" 
            id="descript" 
            formControlName="descript"
            [ngClass]="{
              'error-border': (submitForm.get('descript').hasError('required') && 
              submitForm.get('descript').touched) || submitForm.get('descript').invalid && error
            }"
            required
            *ngIf="formEmpty"
          ></textarea>

          <div 
            class="sub-text xs-margin-top" 
            *ngIf="
              (submitForm.get('descript').hasError('required') && 
              submitForm.get('descript').touched) || 
              submitForm.get('descript').invalid && error
            "
          >
            Please enter description to continue.
          </div>

          <p [innerHTML]="description" *ngIf="formReview"></p>
        </div>

        <p *ngIf="formSuccess">Thank you for your submission!</p>

        <div class="md-margin-top two-col-grid">
          <button 
            type="submit" 
            class="primary-btn"
            *ngIf="formEmpty"
          >
            Submit</button>

          <button 
            type="button" 
            class="secondary-btn" 
            (click)="clearForm()"
            *ngIf="formEmpty"
          >
            Clear</button>

            <button 
            type="button" 
            class="primary-btn"
            (click)="success()"
            *ngIf="formReview"
          >
            Continue</button>

          <button 
            type="button" 
            class="secondary-btn"
            (click)="back()"
            *ngIf="formReview"
          >
            Back</button>

            <button 
              type="button" 
              class="primary-btn"
              (click)="resetForm()"
              *ngIf="formSuccess"
            >
            Retry</button>
        </div>

        <p class="sub-text" *ngIf="!formSuccess">Required*</p>
      </div>
    </form>
  </div>
</div>