//tokens
$mdSpacer: 1rem;


//form styles
.header {
  background-color: #03738C;
  color: #ffffff;
  padding: $mdSpacer;
  text-align: center;
  font-family: sans-serif;
}

.background-color {
  background-color: #f3f1f1;
  min-height: 100vh;
}

.form-alignment {
  display: flex;
}

.sub-text {
  font-size: 12px;
  color: #A63247;
}

.error {
  color: #A63247 !important;
}

.error-border {
  border-color: #A63247 !important;
}

.error-block {
  display: inline-flex;
  padding: $mdSpacer;
  border: 1px solid #A63247;
  border-radius: 5px;
  margin-bottom: 1.5rem;

  h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  p {
    margin: 0;
  }

  .icon {
    width: 50px;
    background-color: #A63247;
    margin-left: -$mdSpacer;
    margin-top: -$mdSpacer;
    margin-bottom: -$mdSpacer;
    margin-right: $mdSpacer;
  }
}

.card {
  border: 1px solid #c4c2c2;
  background-color: #ffffff;
  border-radius: 5px;
  height: 100%;
  width: 500px;
  margin: auto;
  margin-top: 3rem;
  font-family: sans-serif;
}

label {
  color: #615f5f;
}

input,
textarea,
button {
  border-radius: 5px;
  border: 1px solid #03738C;
}

input {
  padding: 0 $mdSpacer;
  height: 30px;
  margin-top: 0.5rem;
}

textarea {
  padding: $mdSpacer;
  height: 100px;
  margin-top: 0.5rem;
  font-family: sans-serif;
}

.primary-btn {
  background-color: #03738C;
  color: #ffffff;

  &:hover {
    background-color: #014858;
  }
}

.secondary-btn {
  background-color: #ffffff;
  color: #03738C;

  &:hover {
    background-color: #03738C15;
  }
}

.primary-btn, 
.secondary-btn {
  font-weight: bold;
  padding: 0.75rem 0;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }
}


label {
  display: block;
}


//spacing classes
.form-padding {
  padding: 1.5rem;
}

.xs-margin-top {
  margin-top: 0.25rem;
}

.md-margin-top {
  margin-top: 2rem;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

//grid classes
.one-col-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  align-content: flex-start;
}

.two-col-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-content: flex-start;
  grid-gap: $mdSpacer;
}

//media queries
@media screen and (max-width: 700px) {
  .two-col-grid {
    grid-template-columns: repeat(1,1fr);
  }

  form {
    margin: auto;
    margin-top: 3rem;
  }
}

/* Color Theme Swatches in Hex */
.GAZPROMBANK.-Bank-card-design { color: #A63247; }
.GAZPROMBANK.-Bank-card-design { color: #BA73D9; }
.GAZPROMBANK.-Bank-card-design { color: #0367A6; }
.GAZPROMBANK.-Bank-card-design { color: #03738C; }
.GAZPROMBANK.-Bank-card-design { color: #A65D33; }